@font-face {
    font-family: 'MyFont';
    src: url('./JetBrainsMono-Regular.ttf') format('ttf'),
      url('./JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
.hello {
    color: red;
    background: url('./icon.jpeg');
    font-family: 'MyFont';
  }
  